<div class="footer">
    <div class="container">
        <div class="brand-logo">
            <p>BrandABC</p>
        </div>
        <div class="row">
            <div class="col-md-4 footer-content">
                <div class="footer-content-navs">
                    <h5>Get to know us</h5>
                </div>
                <ul>
                    <li>Navigation 1</li>
                    <li>Navigation 2</li>
                    <li>Navigation 3</li>
                    <li>Navigation 4</li>
                </ul>
                
            </div>
            <div class="col-md-4 footer-content">
                <div class="footer-content-navs">
                    <h5>Get to know us</h5>
                </div>
                <ul>
                    <li>Navigation 1</li>
                    <li>Navigation 2</li>
                    <li>Navigation 3</li>
                    <li>Navigation 4</li>
                </ul>
            </div>
            <div class="col-md-4 footer-content">
                <div class="footer-content-navs">
                    <h5>Get to know us</h5>
                </div>
                <ul>
                    <li>Navigation 1</li>
                    <li>Navigation 2</li>
                    <li>Navigation 3</li>
                    <li>Navigation 4</li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row copyright">
            <div class="col-md-7">
                <ul>
                    <li>&#169; BrandABC.com 2022</li>
                    <li>Terms and Conditions</li>
                    <li>Privacy Notice</li>
                    <li>Cookies</li>
                </ul>
            </div>
            
            <div class="col-md-5">

            </div>

        </div>
    </div>
</div>