<div class="product-carousel row">
    <div class="carousel-item" #item>
        <div class="image">
            <img src="assets/img/carousel/plant1.jpg" alt="">
        </div>
        <div class="content">
            <div class="title">
                <p>Plants to Home</p>
            </div>
            <div class="sub-title">
                <p>Refresh your homes!</p>
            </div>
            <div class="call-to-action">
                <button class="primary-action">
                    Check More
                </button>
                <button class="secondary-action">Second</button> 
            </div>
        </div>        
    </div>
    <div class="navigator">
        
    </div>
</div>
