<div class="product-card" >
    <div class="sponsored" [ngClass]="{'d-none':!product.sponsored}">
        Sponsored
    </div>
    <div class="product-img" [routerLink]="['product',product.productID]">
        <img [src]="product.img" alt="">
    </div>
    <div class="title" [routerLink]="['product',product.productID]">
        <p><span>{{product.brand}}</span> - {{product.title}}</p>
    </div>
    <app-rating [rating]="product.rating"><p class="count">{{product.totalRatings}}</p></app-rating>
    
    <div class="product-price ">
        <div class="current-price ">
            <p [ngClass]="{'discounted': product.discountPrice!=undefined}"> 
                <span class="currency"></span> 
                {{product.discountPrice==undefined?
                product.currentPrice:product.discountPrice}}</p>            
        </div>
        <div class="old-price" [ngClass]="{'d-none': product.discountPrice==undefined}">
            <p> <span class="currency"></span>
                {{product.discountPrice!=undefined?
                product.currentPrice:product.discountPrice}}</p>
        </div>
    </div>
    <div class="product-actions">
        <button class="btn btn-primary rounded-pill">Buy Now</button>
        <button class="btn btn-cart rounded-pill" (click)="onAddToCart()">Add to Cart</button>
    </div>
</div>
