<div class="container-fluid bg-dark shadow-sm fixed-top">
    <admin-header class=""> </admin-header>
</div>
<div class="row m-0 p-0">
    <div class="m-0 p-0 col-md-3 col-sm-4 col-lg-3 col-xl-2 ">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col body d-none">
        <!-- Insights -->
        <div class="row m-3">
            <h3>Insights</h3>
            <div class="col col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Total Products</h6>
                                <h3 class="my-2 py-1">9,184</h3>                                
                            </div>                            
                        </div> <!-- end row-->
                    </div> <!-- end card-body -->
                </div>
            </div>
            <div class="col col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Orders Today</h6>
                                <h3 class="my-2 py-1">9,184</h3>                                
                            </div>                            
                        </div> <!-- end row-->
                    </div> <!-- end card-body -->
                </div>
            </div>
            <div class="col col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Total Orders</h6>
                                <h3 class="my-2 py-1">9,184</h3>                                
                            </div>                            
                        </div> <!-- end row-->
                    </div> <!-- end card-body -->
                </div>
            </div>
            <div class="col col-sm-6 col-md-6 col-lg-3 col-xl-3 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Revenue</h6>
                                <h3 class="my-2 py-1">9,184</h3>                                
                            </div>                            
                        </div> <!-- end row-->
                    </div> <!-- end card-body -->
                </div>
            </div>
        </div>
        <!--Recent Orders -->
        <div class="row m-3">
            <h3>Recent Orders</h3>
            <div class="table-responsive-xl">
                <table class="table table-dark table-borderless table-striped">
                    <thead>
                    <tr>
                      <th style="width: 5%;" >#</th>
                      <th style="width: 10%;">User</th>
                      <th style="width: 10%;">Items</th>
                      <th style="width: 10%;">Count</th>                  
                      <th style="width: 40%;">Address</th>
                      <th style="width: 12%;">Total Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>ASDasdas,asdasdsa,das,das,d,asd,as,dsa,d</td>
                      <td>@mdo</td>
                    </tr>                
                    </tbody>
                </table>
            </div>
            
        </div>

        <!-- Top Products -->
        <div class="row m-3">
            <h3>Top Products</h3>
            <div class="table-responsive-lg">
                <table class="table table-responsive-md table-dark table-sm table-borderless table-striped">
                    <thead>
                    <tr>
                      <th style="width: 5%;">Id</th>
                      <th style="width: 30%;">Name</th>
                      <th style="width: 10%;">Price</th>
                      <th style="width: 10%;">Stock</th>                  
                      <th style="width: 10%;">Rating</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>                      
                      <td>@mdo</td>
                    </tr>                
                    </tbody>
                </table>
            </div>            
        </div>
        <!-- All Products -->
        <div class="row m-3">
            <h3>New Products </h3>
            <div class="table-responsive-lg">
                <table class="table table-responsive-md table-dark table-sm table-borderless table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Stock</th>                  
                      <th scope="col">Rating</th>                      
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>                      
                      <td>@mdo</td>
                    </tr>                
                    </tbody>
                </table>
            </div>            
        </div>
        <!-- Users -->
        <div class="row m-3">
            <h3>Users </h3>
            <div class="table-responsive-lg">
                <table class="table table-responsive-md table-dark table-sm table-borderless table-striped">
                    <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Member Since</th>
                      <th scope="col">Stock</th>                  
                      <th scope="col">Rating</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>                      
                      <td>@mdo</td>
                    </tr>                
                    </tbody>
                </table>
            </div>            
        </div>

        <!-- New Product -->
        <div class="row m-3">
            
        </div>
    </div>
    
    <div class="col body">
        <router-outlet></router-outlet>
    </div>
</div>

