<app-header></app-header>

<div class="container product-content">
    <div class="row top-nav justify-content-md-between">
        <div class="col-md-6">
            <div class="category-links">
                <ul>
                    <li>Home</li>
                    <li>Category</li>
                    <li>Fashion</li>
                    <li>Sneakers</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="action">
                <button><< Back to Results</button>
            </div>
        </div>        
    </div>

    <div class="row">
        <div class="col-md-6 images">
            <div class="product-main-image">
                <img [src]="product.img" alt="">
            </div>
            <div class="product-images">
                <div class="image-icon">
                    <img src="assets/product/bag/card.jpg" alt="">
                </div>
                <div class="image-icon">
                    <img src="assets/product/bag/card.jpg" alt="">
                </div>
                <div class="image-icon">
                    <img src="assets/product/bag/card.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 details">
            <div class="brand-title">
                <p>By <span>{{product.brand}}</span></p>
            </div>
            <div class="product-title">
                <h3>{{product.title}}</h3>
            </div>
            <app-rating class="rating" [rating]="product.rating">
                <span>{{product.totalRatings}} ratings</span>                
            </app-rating>

            <div class="price-tag">
                <div class="product-price">
                    <div class="current-price ">
                        <p [ngClass]="{'discounted': product.discountPrice!=undefined}"> 
                            <span class="currency">Rs.</span> 
                            {{product.discountPrice==undefined?
                            product.currentPrice:product.discountPrice}}</p>            
                    </div>
                    <div class="old-price" [ngClass]="{'d-none': product.discountPrice==undefined}">
                        <p> <span class="currency">Rs.</span>
                            {{product.discountPrice!=undefined?
                            product.currentPrice:product.discountPrice}}</p>
                    </div>
                </div>
                <div class="stock out">                    
                </div>
            </div>
            
            <div class="size-selection">               
                <div class="size">
                    <button >UK 6</button>
                </div>
                <div class="size">
                    <button >UK 7</button>
                </div>
                <div class="size">
                    <button >UK 8</button>
                </div>
                <div class="size">
                    <button >UK 9</button>
                </div>
                <div class="size">
                    <button >UK 10</button>
                </div>
                <div class="size">
                    <button >UK 11</button>
                </div>
                <div class="size">
                    <button >UK 12</button>
                </div>
                
            </div>
            <div class="description">
                <p>
                    {{product.description}}
                </p>
            </div>
            <div class="product-actions">
                <button class="btn btn-primary rounded-pill">Buy Now</button>
                <button class="btn btn-cart rounded-pill" (click)="onAddToCart()">Add to Cart</button>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-md-center ratings-reviews">
        <div class="col-md-12">
            <h3>Ratings & Reviews</h3>
        </div>
        <div class="col-md-3">
            <div class="rating-view">
                <div class="rating-value">
                   <p>4.2</p>
                </div>
                <div class="stars-total">
                    <app-rating [rating]="4.2"></app-rating>
                    <p>7,546 ratings</p>
                </div>
            </div>
            <div class="rating-divided">
                <p class="rating-desc">4.2 of 5 </p>
                <div class="star-bar">
                    <p>5 stars</p>
                    <div class="rating-bar">
                        <span></span>
                    </div>
                    <p>90%</p>
                </div>
                <div class="star-bar">
                    <p>4 stars</p>
                    <div class="rating-bar">
                        <span [style.width]="'6%'"></span>
                    </div>
                    <p>6%</p>
                </div>
                <div class="star-bar" >
                    <p>3 stars</p>
                    <div class="rating-bar">
                        <span [style.width]="'4%'"></span>
                    </div>
                    <p>4%</p>
                </div>
                <div class="star-bar">
                    <p>2 stars</p>
                    <div class="rating-bar">
                        <span [style.width]="'0%'"></span>
                    </div>
                    <p>0%</p>
                </div>
                <div class="star-bar">
                    <p>1 stars</p>
                    <div class="rating-bar">
                        <span [style.width]="'0%'"></span>
                    </div>
                    <p>0%</p>
                </div>
                
            </div>
        </div>
               
        <!-- Rating Viewer-->
        <div class="col-md-8">
            <div class="add-review">
                <div class="add-rating">
                    <span>Rating :</span>
                    <button #star class="btn star" ><span class="material-icons" (click)="addRating(1)"> </span></button>
                    <button #star class="btn star" ><span class="material-icons" (click)="addRating(2)"> </span></button>
                    <button #star class="btn star" ><span class="material-icons" (click)="addRating(3)"> </span></button>
                    <button #star class="btn star" ><span class="material-icons" (click)="addRating(4)"> </span></button>
                    <button #star class="btn star" ><span class="material-icons" (click)="addRating(5)"> </span></button>
                </div>
                <textarea class="w-100 form-control" style="resize: none;" rows="4"></textarea>
                <button class="btn btn-primary rounded-pill w-25"> Submit</button>
            </div>
            
            <div *ngFor="let review of product.reviews" class="row rating-description">
                <div class="col-md-3">
                    <div class="user-profile">
                        <div class="image">
                            <img [src]="review.user.img" alt="">
                        </div>
                        <div class="user-details">
                            <p>{{review.user.name}}</p>
                            <app-rating [rating]="review.rating"></app-rating>
                        </div>
                    </div>
                </div>
                <div class="col-md 9">
                    <p class="review-text">{{review.review}}</p>
                    <p class="review-date">{{review.createdAt|date:'EEEE, MMMM d, y' }}</p>
                </div>
            </div>                        
        </div>
        <!-- Rating Viewer Ends-->
    </div>

</div>

<section class="container" id="data-inspired" >
    <div class="section-title">
        <p>
            Similar products.
        </p>
        <button class="btn action"> View All</button>
    </div>
    <div class="row justify-content-md-between">           
        <div class="col-md-2" >
            <app-product-card  ></app-product-card>
        </div>
        <div class="col-md-2" >
            <app-product-card  ></app-product-card>
        </div>    
        <div class="col-md-2" >
            <app-product-card  ></app-product-card>
        </div>    
        <div class="col-md-2" >
            <app-product-card  ></app-product-card>
        </div>    
        <div class="col-md-2" >
            <app-product-card  ></app-product-card>
        </div>          
        
    </div>
</section>

<app-footer></app-footer>