<div class="row">
    <div class="col-lg-4">
        <div class="product-offers">
            <div class="content">
                <div class="title">Camera and Accesories- 10% Off!</div>
                <button class="action">
                    View More                 
                </button>
            </div>
            <div class="bg-image">
                <img src="assets/offers/camera.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="product-offers">
            <div class="content">
                <div class="title">Gamer Centre - 20% Off!</div>
                <button class="action">
                    View More                 
                </button>
            </div>
            <div class="bg-image">
                <img src="assets/offers/gamepad.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-4">        
        <div class="product-offers">
            <div class="content">
                <div class="title">Smartphones Upto - 20% Off!</div>
                <button class="action">
                    View More                 
                </button>
            </div>
            <div class="bg-image">
                <img src="assets/offers/phone.png" alt="">
            </div>
        </div>
    </div>
</div>