<app-header></app-header>
<div class="container-fluid ">    
    <section class="main-products" id="data-main-products">
        <app-product-carousel>
        </app-product-carousel>
    </section>

    <section class="container" id="data-inspired" >
        <div class="section-title">
            <p>
                Inspired by your shopping trends.
            </p>
            <button class="btn action"> View All</button>
        </div>
        <div class="row">
            <div class="col" *ngFor="let product of shoppingTrendProducts;">
                <app-product-card [data]="product" ></app-product-card>
            </div>
        </div>
    </section>

    <section class="container" id="data-offers">        
        <app-product-offers></app-product-offers>           
    </section>

    <section class="container" id="data-featured" >
        <div class="section-title">
            <p>
                Featured Products
            </p>
            <button class="btn action"> View All</button>
        </div>
        <div class="row">
            <div class="col" *ngFor="let product of featuredProducts;">
                <app-product-card [data]="product" ></app-product-card>
            </div>
        </div>
    </section>

    <section class="container" id="data-history" >  
        <div class="section-title">
            <p>
                Your browsing history
            </p>
            <button class="btn action"> View All</button>
        </div>
        <div class="row">
            <div class="col">
                <app-product-card></app-product-card>
            </div>
            <div class="col">
                <app-product-card></app-product-card>
            </div>
            <div class="col">
                <app-product-card></app-product-card>
            </div>
            <div class="col">
                <app-product-card></app-product-card>
            </div>
            
        </div>
    </section>
    
</div>
<app-footer></app-footer>